@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@500&family=Great+Vibes&family=Handlee&family=Roboto&display=swap');

body {
  color: white;
  margin: 0;
  margin-top: 0em;
  height: 100vh;
  width: fit-content;
  margin: auto;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;

  padding: 0 0 50vh 0;
  background-color: #27292d;
}

form {
  justify-content: center;
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

button {
  width: fit-content;
  padding: 1em 2em;
}
